{% extends 'shop/default.html' %}

{% load static %}

{% block content %}

<div class=""></div>

<div class="container-fluid">

    <div class="container-md mx-auto" style="margin-top: 5%;">
        <p class="fw-lighter" style="font-size:75px;">О БРЕНДЕ</p>
    </div>

    <div class="container-md mx-auto" style="margin-top: 5%;">
        <p class="fw-light" style="font-size:25px;">ПОЧЕМУ EBURET?</p>
    </div>

    <div class="container-md mx-auto">
        <p class="fw-light" style="font-size:18px;color: rgb(70, 70, 70);">
            Именно так сотрудники производства назвали первый напечатанный предмет студии. Соединив назначение – «табурет», с его очертаниями – формой буквы «Е». 
        </p>
        <p class="fw-light" style="font-size:18px;color: rgb(70, 70, 70);">
            На сегодняшний день наша основная линейка насчитывает 17 предметов. Вы можете встретить их в отелях, кафе и ресторанах, галереях и на выставках. А порой и в самых неожиданных местах.
        </p>
    </div>

    <div class="container-md mx-auto" style="margin-top: 3%;">
        <p class="fw-lighter" style="font-size:25px;">ИСТОРИЯ БРЕНДА</p>
    </div>

    <div class="container-md mx-auto">
        <p class="fw-light" style="font-size:18px;color: rgb(70, 70, 70);">
            В январе 2021 года идеолог бренда, Ольга Найденова пришла к будущим партнерам – компании 99RECYCLE. К этому времени команда достроила и собственноручно модернизировала 3D принтер, который плавил вторичный пластик с минимумом отходов.
        </p>
        <p class="fw-light" style="font-size:18px;color: rgb(70, 70, 70);">
            Ольге предложили создать несколько моделей мебели, которые были бы отпечатаны посредством 3D технологии. Вскоре появился первый предмет – EBURET, линейка начала стремительно расти и пополняться новыми формами. Так зародился бренд, названный в честь первого успешного предмета студии. Ольга стала идеологом и сооснователем, продолжив развивать идею и дизайн.
        </p>
    </div>

    <div class="container-md mx-auto" style="margin-top: 3%;">
        <p class="fw-lighter" style="font-size:25px;">ДИЗАЙН</p>
    </div>

    <div class="container-md mx-auto">
        <p class="fw-light" style="font-size:18px;color: rgb(70, 70, 70);">
            Мы хотим изменить отношение людей к переработанным материалам. И делаем это за счет создания эффектного дизайна, которым хочется обладать. Благодаря технологии изготовления, любая сторона нашей мебели – лицевая.
        </p>
        <p class="fw-light" style="font-size:18px;color: rgb(70, 70, 70);">
            Деликатно перерабатывая накопленный человечеством визуальный опыт, мы добиваемся чистоты в архитектуре предметов. Стремимся придумывать новые формы и приспосабливать их для привычных вещей, создавая мебель нового формата. 
        </p>
        <p class="fw-light" style="font-size:18px;color: rgb(70, 70, 70);">
            При проектировании всегда руководствуемся принципом многофункциональности. Нам важно, чтобы обладатель сам мог решать, как он использует свой предмет сегодня. Чтобы каждый дизайн жил в унисон с пространством вокруг, особенно когда оно динамично и переменчиво.
        </p>
    </div>

    <div class="container-md mx-auto" style="margin-top: 3%;">
        <p class="fw-lighter" style="font-size: 25px;">МИССИЯ</p>
    </div>

    <div class="container-md mx-auto">
        <p class="fw-light" style="font-size:18px;color: rgb(70, 70, 70);">
            Мы озабочены проблемой загрязнения планеты, поэтому выбрали для своих исследований тему вторичной переработки. Наши предметы на 97% состоят из вторичного материала. Корпус мебели создан из вторичного полистирола PS (6), который является остатком йогуртового производства. Бирки напечатаны из вторичного пвх PVC (3) – бывших надувных лодок.
        </p>
        <p class="fw-light" style="font-size:18px;color: rgb(70, 70, 70);">
            Всего за год существования студии, мы продали тонны предметов из переработанного пластика PS (6). Вместо того чтобы оказаться на свалке, он обрел вторую жизнь в роли новой мебели. Мы крепко стоим на идее устойчивого развития и хотим совершить небольшую революцию в умах людей. Показать возможный путь переработанного материала и изменить к нему отношение, укрепив новую этику.
        </p>
    </div>
    <br>
    <br>
</div>

<hr>

{% endblock content %}