{% extends 'shop/default.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">

    <div class="container-md mx-auto" style="margin-top: 5%;">
        <p class="fw-lighter" style="font-size:75px;">КОНТАКТЫ</p>
    </div>

    <div class="container-md ">
        <div class="row ms-auto text-md-start justify-content-between" style="margin-top: 5%;">
            <div class="col-md-5">
                <p class="fw-light" style="font-size:18px;color: rgb(70, 70, 70);">
                    Режим работы интернет-магазина:
                    пн-пт 11:00 – 19:00
                </p>
                <a href="hi@eburet.studio" class="fw-light" style="font-size:18px;color: rgb(70, 70, 70);">
                    hi@eburet.studio
                </a>
                <br>
                <a href="tel:+79843338135" target="_blank" style="color: inherit; font-size:18px;color: rgb(70, 70, 70);">+7 (984) 333 8135</a>
                <br>
                <br>
                <button class="btn"
                    style="border-color: rgb(170, 170, 170); border-radius: 20px/20px; font-size: 18px; color: rgb(100, 100, 100); box-shadow: 0 3px 3 px rgba(0,0,0,0.07);">Поддержка
                    в Telegram</button>
                <br>
                <br>
                <p class="fw-light m-0" style="font-size:18px;color: rgb(70, 70, 70);"> Социальные сети:</p>
                <a href="#" style="color:rgb(255, 130, 151);  font-size: 18px;">Telegram-канал</a>
				<p>@eburet_studio</p>
                <a href="#" style="font-size:18px;color: rgb(70, 70, 70);">Вакансии</a>
                <br>
                <br>
                <p class="fw-light" style="font-size:18px;color: rgb(70, 70, 70);">
                    Реквизиты:
                    ООО "ЕБУРЕТ"
                    Юр. адрес: 199106, г. Санкт-Петербург, линия Кожевенная, д. 34, литера А, пом. 273-275, 277
                    ИНН 7802694155
                    ОГРН 1197847171433
                </p>
            </div>

            <div class="col">
                <div class="">
                    <form id="cart-form" class="needs-validation" novalidate="">
                        <label for="firstName" class="form-label">Имя</label>
                        <input type="text" class="form-control" name="firstName" id="firstName"
                            placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Пожалуйтса, введите корректное имя.
                        </div>

                        <br>

                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email"
                            placeholder="you@example.com">
                        <div class="invalid-feedback">
                            Пожалуйста, введите корректный адрес электронной почты.
                        </div>

                        <br>

                        <label for="tel" class="form-label">Номер телефона</label>
                        <input type="tel" class="form-control" name="tel" id="tel">
                        <div class="invalid-feedback">
                            Пожалуйста, введите корректный адрес электронной почты.
                        </div>

                        <br>

                        <label for="connection_method" class="form-label">Удобный способ связи:</label>
                        <select class="form-select" aria-label="Default select example" name="connection_method" id="connection_method">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <br>

                        <label for="comment" class="form-label">Сообщение</label>
                        <input type="text" class="form-control" name="comment" id="comment" required="">
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="agreement"
                                name="agreement">
                            <label class="form-check-label" for="agreement">Согласие на обработку
                                персональных
                                данных, с <a href="">пользовательским соглашением</a> и <a
                                    href="">публичной
                                    офертой</a>.</label>
                        </div>

                        <button type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

{% endblock content %}