{% extends 'shop/default.html' %}

{% load static %}

{% block content %}
<div class="row m-0 p-0">
    <div class="carousel slide carousel-fade col-md-6 bg-transparent m-0 p-0" id="EburetCarousel"
        data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://static.tildacdn.com/tild6237-3833-4537-a132-643434393763/910AC361-056B-4985-A.JPG"
                    class="d-block w-100" alt="">
            </div>
            <div class="carousel-item active">
                <img src="https://static.tildacdn.com/tild6662-3536-4431-b266-656536353638/_IMG_1338_1.jpg"
                    class="d-block w-100" alt="">
            </div>
            <div class="carousel-item active">
                <img src="https://static.tildacdn.com/tild3134-3262-4630-a134-633130656334/L1000468.JPG"
                    class="d-block w-100" alt="">
            </div>
        </div>
    </div>
    <img src="https://static.tildacdn.com/tild3364-6562-4035-a638-343463366131/eburet-final-logo.png" alt=""
        class="col-md-4 mx-auto d-block align-self-center img-fluid m-0 p-0" style="position: sticky; top: auto;">
</div>
<div class="row m-0 p-0 position-relative overflow-hidden">
    <!-- <style>
        .back-video {
            right: 0;
            width: 100%;
            height: 130%;
            position: absolute;
            z-index: -1;
            object-fit: cover;
        }
    </style> -->
    <video autoplay muted loop playsinline class="back-video opacity-50" style="padding: 0px;"
        src="https://www.dl.dropboxusercontent.com/s/yi32zl0e85tofaf/_0000001-1500.webm?dl=0"
        type="video/webdm"></video>
    <div class="col position-relative m-auto">
        <div class="text-center">
            <p class="fs-1 font-monospace bg-transparent" style="font-size: 16rem;">Plastic never looked so good.</p>
        </div>
    </div>
    <div class="carousel slide carousel-fade col-md-6 bg-transparent m-0 p-0" id="EburetCarousel"
        data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://static.tildacdn.com/tild6237-3833-4537-a132-643434393763/910AC361-056B-4985-A.JPG"
                    class="d-block w-100" alt="">
            </div>
            <div class="carousel-item active">
                <img src="https://static.tildacdn.com/tild6662-3536-4431-b266-656536353638/_IMG_1338_1.jpg"
                    class="d-block w-100" alt="">
            </div>
            <div class="carousel-item active">
                <img src="https://static.tildacdn.com/tild3134-3262-4630-a134-633130656334/L1000468.JPG"
                    class="d-block w-100" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock content %}